<div class="card">
	<div class="card-block">
		<h4>
			<a href="/location/{{location._id}}">{{location.name}}</a>
			<small>&nbsp;
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</small>
			<span class="badge badge-pill badge-default float-right">{{location.distance}}km</span>
		</h4>
		<p class="address">{{location.address}}</p>
		<div class="facilities">
			<span class="badge badge-warning">Hot Drinks</span>
			<span class="badge badge-warning">Food</span>
			<span class="badge badge-warning">Premium wifi</span>
		</div>
	</div>
</div>
